# netlify.toml

[build]
  command = "npm run build"
  publish = ".next"

[build.environment]
  NEXT_PUBLIC_API_URL = "https://essenza-backend.warawiri.web.id" 

[[plugins]]
  package = "@netlify/plugin-nextjs"
